<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fantastic Fitness Tracker</title>
  <link rel="stylesheet" href="/css/style.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
</head>
<body>
<div class="sidebar" style="background-color: rgba(214, 205, 205, 0.616);">
    <h3>Home:</h3>
    <a class="nav-link" href="/"><i class="fas fa-home" style="color:white"></i>   Back to the weights</a>
    <h3>Tutorials:</h3>
    <a href="https://www.youtube.com/watch?v=3sEeVJEXTfY"  target=_blank>- At Home Workouts</a>
    <a href="https://www.youtube.com/watch?v=gRVjAtPip0Y"  target=_blank>- Bench Press</a>
    <a href="https://www.youtube.com/watch?v=Dy28eq2PjcM"  target=_blank>- Squats</a>
    <a href="https://www.youtube.com/watch?v=-4qRntuXBSc"  target=_blank>- Deadlifts</a>
    <a href="https://www.youtube.com/watch?v=glPpETvL-xo"  target=_blank>- Barbell Row</a>
    <a href="https://www.youtube.com/watch?v=F3QY5vMz_6I"  target=_blank>- Military Press</a>
    <h3>Fitness Articles:</h3>
    <a href="https://www.onnit.com/academy/category/fitness/" target=_blank>- Fitness</a>
    <a href="https://www.onnit.com/academy/category/nutrition/"  target=_blank>- Nutrition</a>
    <a href="https://www.shoptotalnutrition.com/?gclid=CjwKCAjwgZuDBhBTEiwAXNofRFFYamBFE6ZtGsBSzDBagp2qe6392gfl3dZLxeJ9geqREuLur3LYkRoCVhMQAvD_BwE" target=_blank>- Supplements</a>  
    <h3>Developers:</h3>
    <a class="nav-link" href="aboutUs"><i class="fas fa-user-friends" style="color:white"></i>   Meet The Team</a>
</div>
<div class="content">
<div class="container main">
<body>

<div class="bgimg">
  <div class="middle">
    <h1>COMING SOON</h1>
    <br>
    <p>CHART YOUR WORKOUTS</p>
    <hr>
    <p id="demo" style="font-size:30px"></p>
  </div>
</div>

<!--future development for the charts_>>

                        <!--<h2 class="text-center workout-heading">Workouts Progress</h2>
                        {{!-- Added canvas to run the chart --}}
                        <div class="chart-container" >
                            <canvas id="myChart" style="color:aqua height:30vh;  width:50vw"></canvas>
                        </div>

                        <script>
                            var oldData = [12, 18, 3, 5, 2, 3];
                            var ctx = document.getElementById('myChart').getContext('2d');
                            var myChart = new Chart(ctx, {
                                type: 'bar',
                                data: {
                                    labels: ['Cardio', 'Weights', 'Chest & Back', 'Bench press'],
                                    datasets: [{
                                            label: 'Workouts',
                                            data: oldData,
                                            backgroundColor: 'rgba(150, 105, 120, 1)',
                                            borderColor: 'rgba(200, 108, 150, 1)',
                                            borderWidth: 1,
                                        }]
                                    },
                                options: {
                                scales: {
                                        y: {
                                            beginAtZero: true
                                        }
                                    },
                                }
                            
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>-->

</body>>
<script src="js/charts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>