<main class="login" style="background-color: rgba(214, 205, 205, 0.616);">
<div class="container mt-5">
    <h1>Register Account</h1>
    <form action="/signup" method="POST">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1">
        </div>
        <button class="btn" id="submit"><a class="nav-link" href="/">Register</a></button>
    </form>
</div>
</main>